.mobileContainer{
    display: none;
}

@media (max-width: 990px) {
    .mobileContainer{
        display: flex;
        align-items: center;
       
    }
    .mobileContainer ul{
        list-style: square;
    }
    .desktopContainer{
        display: none;
    }
    .hamburger{
        position: relative;
        right: 5%;
        cursor: pointer;
        top: 5%;
    }
}