.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    background-color: rgba(255, 130, 67, 0.73);
    /* background:transparent; */
 
}
 
.logo{
    font-family: 'Epilogue';
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: #ff8243;
    cursor: pointer;
    margin-right: auto;
    flex: 1 0 auto;
 
}

 
 
.navBtn{
    font-family: 'Epilogue';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(255, 130, 67, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
   
}
 
.navBtn:hover{
    background-color: rgba(255, 130, 67, 0.7);
}
.navAnchor{
    font-family: 'Epilogue';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease 0s;
}
 


@media (max-width: 990px) {
    .navAnchor{
        display: none;
    }
    
    
}